@font-face {
	font-family: 'RobotoRegular', Arial, Helvetica, sans-serif;
	src: url(./fonts/Roboto-Regular.ttf);
	format: ('ttf');
}

:root {
	/* from coolors */
	--charcoal: rgb(22, 47, 60);
	--rosy-brown: rgb(193, 148, 138);
	--air-superiority-blue: hsla(201, 33%, 62%, 1);
	--isabelline: hsla(20, 33%, 95%, 1);
	--khaki: hsla(45, 23%, 65%, 1);

	--dark-background: var(--charcoal);
	--light-background: var(--isabelline);
	--accent-color: var(--air-superiority-blue);
	--rosy-color: var(--rosy-brown);
	--highlight-color: var(--khaki);
	--text-color-dark: black;
	--text-color-light: white;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	opacity: 0.96;
}

body {
	background-color: var(--dark-background);
	color: var(--text-color-light);
	font-family: 'RobotoRegular', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	height: 100dvh;
	width: 100dvw;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30%;
}

header {
	align-self: flex-start;
	display: flex;
	flex-direction: row;
	width: 100dvw;
	background-color: var(--accent-color);
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 1;
	margin: 0;
}

ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-grow: 1;
	margin: 0;
	padding: 0;
	inset: 0;
}
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav.item {
	display: flex;
	flex-basis: 12rem;
	text-align: center;
	flex-shrink: 0;
	font-size: 1.5rem;
	background-color: var(--accent-color);
	color: var(--text-color-light);
	position: relative;
	transition: background-color 250ms ease-in-out;
}

.nav.item > span,
.sub-li > span {
	flex: 1;
	padding: 1rem;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
}

.nav .item:hover {
	background-color: var(--rosy-color);
	color: var(--text-color-light);
	opacity: 1;
	transition: background-color 250ms cubic-bezier(0, 2.47, 0.38, 0.91);
}

.nav.item:last-of-type {
	margin-left: auto;
}

.sub-nav {
	visibility: hidden;
	display: flex;
	flex-direction: column;
	top: -4rem;
	position: absolute;
	opacity: 0.9;
}

.sub-li {
	border: 1px solid var(--dark-background);
	background-color: var(--rosy-color);
}

.sub-li:nth-child(even) {
	background-color: rgba(193, 148, 138, 0.85);
}

.sub-li:hover {
	background-color: var(--highlight-color);
	transition: background-color 350ms cubic-bezier(0, 2.47, 0.38, 0.91);
}

.sub-span {
	flex: 1;
	display: block;
	padding: 0.2rem;
	opacity: 1;
}

.active > .sub-nav {
	visibility: visible;
	transform: translate(0, 8rem);
	transition: transform 350ms cubic-bezier(0, 2.47, 0.38, 0.91);
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

.img-slider-frame {
	position: relative;
	width: 600px;
	height: 400px;
	overflow: hidden;
	box-shadow: 0px 8px 50px 0px rgba(0, 0, 0, 0.6);
}

.img-slider-container {
	display: flex;
	position: absolute;
	
	left: 0%;
	transform: translate(-50%, -50%);
}
.slider-interface-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.slider-images-of-cats {
	display: none;
}

.slider-images-of-cats.active-image{
	display: flex;
	position: absolute;
}

button {
	background-color: var(--accent-color);
	color: var(--text-color-light);
	font-size: 1.5rem;
	padding: 1rem;
	border: none;
	border-radius: 5rem;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
	transition: transform 350ms ease-in-out;
}

button:hover {
	background-color: var(--highlight-color);
	transform: scale(1.5);
}
button.active {
	transform: scale(1.5);
}


